<div class="fixed top-0 right-0 m-6 hidden md:block" *ngIf="tutoDescription">
  <div
    class="border-2 border-orange-400 rounded-md h-40 w-52 flex flex-col items-center overflow-hidden bg-orange-400 ">
    <div class="w-full h-fit bg-white overflow-hidden">
      <img width="100%" height="100%" [src]="assetGif"/>
    </div>
    <div class="flex items-center justify-center">
      <p class="text-white">{{tutoDescription}}</p>
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-start w-screen overflow-y-scroll px-4">
  <div class="max-w-xl h-fit border rounded-md w-full flex flex-col mt-20 overflow-hidden">
    <div class="title flex w-full items-center justify-center py-10">
      <h1 class="text-2xl font-semibold">Mini SEO</h1>
    </div>
    <form>
      <div class="steps" *ngIf="steps === 0">
        <input type="text" [formControl]="web_title" placeholder="Awesome Website" required/>
      </div>

      <div class="steps" *ngIf="steps === 1">
        <input type="text" [formControl]="description" placeholder="Description" required/>
      </div>

      <div class="steps" *ngIf="steps === 2">
        <input type="text" [formControl]="url" placeholder="Website URL https://" required/>
      </div>

      <div class="steps" *ngIf="steps === 3">
        <input type="text" [formControl]="keywords" placeholder="Keywords. Books,Blog,MyName"/>
      </div>

      <div class="steps" *ngIf="steps === 4">
        <input type="text" [formControl]="author" placeholder="Author (its you!)"/>
      </div>

      <div class="steps" *ngIf="steps === 5">
        <input type="text" [formControl]="image" placeholder="Website image"/>
      </div>

      <div class="steps" *ngIf="steps === 6">
        <input type="text" [formControl]="twitterCreator" placeholder="Your twitter @"/>
      </div>

      <p class="italic text-gray-400" [class]="tips ? 'block' : 'invisible'">
        <small>Hint: {{ 'Provide full screen crop if possible' }}</small></p>

      <div class="flex gap-2">
        <button (click)="back()" type="button" class="btn" *ngIf="steps < 7 && steps > 0">
          Back
        </button>
        <button (click)="next()" type="button" class="btn primary" [class]="disabledClass" *ngIf="steps < 7; else done"
                [disabled]="disabled">
          Next
        </button>
      </div>
      <button (click)="edit()" type="button" class="btn" *ngIf="steps === 7;">
        Edit
      </button>

      <ng-template #done>
        <h2 class="text-orange-600 text-2xl my-8">Done!</h2>
      </ng-template>

    </form>

    <div class="h-2 bg-orange-400 transition-width transition-slowest ease" [style]="{ width: stepperWidth()}"></div>
  </div>

  <button class="text-blue-500 my-4 hover:text-orange-400" (click)="preview()">See in action? Will overwrite your form
  </button>


  <app-meta [metas]="{
      title: web_title.value ?? '',
      description: description.value ?? '',
      url: url.value ?? '',
      type: 'website',
      keywords: keywords.value ?? '',
      author: author.value ?? '',
      image: image.value ?? '',

      twitter: {
        site: '',
        creator: twitterCreator.value ?? '',
      }

    }"/>

  <div class="flex flex-col grow items-center justify-center gap-2 my-10">
    <a href="https://github.com/Xavier-IV/mini-seo" target="_blank">
      <div class="w-5">
        <img src="/assets/images/github-mark.svg" class="fill-slate-200" alt="">
      </div>
    </a>
    <p class="text-gray-300">Made by <a href="https://zafranudin.dev/" target="_blank" class="text-orange-300">Zafranudin
      Zafrin</a></p>

    <div class="flex gap-1">
      <a class="github-button" href="https://github.com/Xavier-IV/mini-seo" data-icon="octicon-star"
         data-show-count="true" aria-label="Star Xavier-IV/mini-seo on GitHub">Star</a>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/Xavier-IV" data-show-count="true"
         aria-label="Follow @Xavier-IV on GitHub">Follow @Xavier-IV</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
